h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

li {
	float: left;
}

form {
	position: relative;
	top: -8px;
}

textarea {
	width: 584px;
	height: 190px;
	border-color: #dfdfdf;
}

/*input[type="text"] {
	width: 584px;
	height: 22px;
	margin-bottom: 7px;
	font-size: 15px;
}*/

input[type="submit"] {
	width: 117px;
	height: 41px;
	margin-top: 20px;
	background-color: #a9c6fb;
	font-family: 'Georgia', Times, Times New Roman, serif;
	font-size: 19px;
	font-weight: bolder;
	color: #ffffff;
}

.background {
	background-image: url(../images/intersection.png);
	background-repeat: repeat;
	background-attachment: fixed;
}

.entire {
	display: inline-block;
	padding: 38px 0px;
}

.sections {
	background-color: #ffffff;
	border-color: #c9c9c9;
	border-style: solid;
	border-width: 0.5px;

}

.social {
	width: 45%;
}

.portfolio {
	display: inline-block;
	width: 274px;
	height: 206px;
}

.footer {
	display: block;
	height: 100px;
	border-style: solid;
	border-color: #a9c6fb;
	border-top-width: 8px;
	font-size: 7pt;
	background-color: #666666;
	text-align: center;
	color: white;
}

.footer p {
	font-size: 12px;
	padding: 40px 368px;
}

#main {
	display: inline-block;
	width: 651px;
	height: 480px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#main h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#main hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}

#main img {
	float: left;
	margin-right: 25px;
	margin-bottom: 25px;
}

#main p {
	font-size: 18px;
	line-height: 1.7;
	display: inline;
}

#gallery {
	display: inline-block;
	width: 651px;
	height: 904px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#gallery h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#gallery hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}

#gallery p {
	font-size: 22px;
	line-height: 3;
	text-align: center;
	color: #ffffff;
	background-color: #a9c6fb;
	height: 61px;
	position: relative;
	top: 145px;
}

#hangman {
	background-image: url(../images/hangman.jpg);
	margin-right: 38px;
	margin-bottom: 56px;
}

#rpg-game {
	background-image: url(../images/rpg-game.jpg);
	margin-bottom: 56px;
}

#trivia-game {
	background-image: url(../images/trivia-game.jpg);
	margin-right: 38px;
	margin-bottom: 56px;
}

#rutgers {
	background-image: url(../images/rutgers.jpg);
}

#rps {
	background-image: url(../images/rps.jpg);
}

#contact {
	display: inline-block;
	width: 651px;
	height: 582px;
	position: relative;
	left: 160px;
	padding: 40px 30px;
	margin-right: 41px;	
}

#contact h2 {
	font-size: 30px;
	font-weight: bolder;
	color: #a9c6fb;
	margin-bottom: 30px;
}

#contact hr {
	border-width: 1.5px;
	border-style: solid;
	border-color: #c9c9c9;
	margin-bottom: 30px;
}

#contact p {
	font-size: 18px;
	line-height: 2;
	display: inline;
}